section {
  text-align: center;
  color: white;
}

h3 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 8rem;
  margin: 10px 0 40px;
}

#notHasName {
  position: relative;
  top: -40px;
}
