<article *ngIf="displayWeather">
  <div class="currentIcon">
    <i class="wi
    {{ weatherData.currently.icon === 'wind' || weatherData.currently.icon === 'fog'
      ? weatherData.currently.time < weatherData.daily.data[0].sunriseTime
        || weatherData.currently.time > weatherData.daily.data[0].sunsetTime
        ? weatherData.currently.cloudCover > .25
          ? weatherData.currently.icon === 'wind'
            ? 'wi-night-alt-cloudy-gusts'
            : 'wi-night-fog'
          : weatherData.currently.icon === 'wind'
            ? 'wi-strong-wind'
            : 'wi-windy'
        : weatherData.currently.cloudCover > .25
          ? weatherData.currently.icon === 'wind'
            ? 'wi-day-cloudy-gusts'
            : 'wi-day-fog'
          : this._weatherService.iconSelector(weatherData.currently.icon)
      : this._weatherService.iconSelector(weatherData.currently.icon)
    }}"></i>
    <h2>{{ current.apparentTemperature | number:"1.0-0" }}&deg;</h2>
  </div>

  <div class="currentConditions">
    <p><strong>Cloud Cover:</strong> {{ current.cloudCover | percent }}</p>
    <p><strong>Humidity:</strong> {{ current.humidity | percent }}</p>
    <p><strong>Chance of Precipitation:</strong> {{ current.precipProbability | percent }}</p>
    <p><strong>Visibility:</strong> {{ current.visibility === 10 ? ">10 miles" : current.visibility + " miles" }}</p>
    <p><strong>Wind:</strong> {{ windDirection }} {{ current.windSpeed | number:"1.0-0" }}mph</p>
    <p><strong>Wind Gusts:</strong> {{ current.windGust | number:"1.0-0" }}mph</p>
  </div>
</article>

<section *ngIf="displayWeather" class="summary">
  <h1>{{ weatherData.daily.summary }}</h1>
</section>

<main *ngIf="displayWeather">
  <section *ngFor="let day of weatherData.daily.data; index as i" [attr.data-index]="i">
    <div *ngIf="i < 7">
      <i class="wi
      {{ this._weatherService.iconSelector(weatherData.daily.data[i].icon) === 'wi-night-alt-cloudy'
        ? 'wi-day-cloudy'
        : this._weatherService.iconSelector(weatherData.daily.data[i].icon) === 'wind'
          || this._weatherService.iconSelector(weatherData.daily.data[i].icon) === 'fog'
          ? weatherData.daily.data[i].cloudCover > .25
            ? this._weatherService.iconSelector(weatherData.daily.data[i].icon) === 'wind'
              ? 'wi-day-cloudy-gusts'
              : 'wi-day-fog'
            : this._weatherService.iconSelector(weatherData.daily.data[i].icon) === 'wind'
              ? 'wi-day-windy'
              : 'wi-day-light-wind'
          : this._weatherService.iconSelector(weatherData.daily.data[i].icon)
      }}"></i>
      <h4>{{ day.apparentTemperatureHigh | number:"1.0-0" }} / {{ day.apparentTemperatureLow | number:"1.0-0" }}</h4>
      <p>{{ day.time * 1000 | date:"EEEE" }}</p>
    </div>
  </section>
</main>

<main *ngIf="!displayWeather" class="spinner">
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</main>
<p *ngIf="!displayWeather" class="spinner-message">Loading weather data...</p>

<a href="https://darksky.net/poweredby/">
  <img src="../../assets/poweredby-darkbackground.png" alt="Powered by Dark Sky" height="40">
</a>
