main, .spinner-message, .currentConditions {
  color: white;
}

.summary, .currentIcon {
  color: #ff4081;
}

article i {
  font-size: 6rem;
}

main i {
  font-size: 3rem;
}

.currentIcon {
  margin-right: 15px;
  text-align: center;
}

.currentConditions {
  margin-left: 15px;
}

article {
  display: flex;
  justify-content: center;
}

article p {
  margin: 1px 0;
}

article h2 {
  margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.summary {
  text-align: center;
}

.summary h1 {
  margin-top: 10px;
  margin-bottom: 28px;
}

.spinner-message {
  text-align: center;
}

a {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

main section p {
  margin-bottom: 10px;
}
