.spacer {
  flex: 1 1 auto;
}

mat-drawer-container {
  height: 100vh;
  background-color: #3f51b5;
}

.drawer {
  height: 100vh;
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
}

.timeWithoutName {
  position: relative;
  top: -110px;
}
