<section id="app">
  <mat-drawer-container>
    <mat-drawer #settingsDrawer class="drawer" mode="push" position="end">
      <app-settings></app-settings>
    </mat-drawer>

    <mat-drawer #infoDrawer class="drawer" mode="push">
      <app-about></app-about>
    </mat-drawer>

    <nav>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Landing Pad</span>
          <span class="spacer"></span>
          <button mat-icon-button>
            <mat-icon (click)="infoDrawer.toggle()">info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="settingsDrawer.toggle()">settings</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </nav>
    <main>
      <app-name></app-name>
      <app-time></app-time>
      <app-weather></app-weather>
    </main>
  </mat-drawer-container>
</section>
