<section *ngIf="hasName">
  <h2 *ngIf="militaryHours">
    <span *ngIf="militaryHours >= 2 && militaryHours < 4">Hello</span>
    <span *ngIf="militaryHours >= 4 && militaryHours < 12">Good Morning</span>
    <span *ngIf="militaryHours >= 12 && militaryHours < 17">Good Afternoon</span>
    <span *ngIf="militaryHours >= 17 || militaryHours < 2">Good Evening</span>
    {{name}}
  </h2>
</section>

<section *ngIf="!hasName">
  <form #nameForm="ngForm" (ngSubmit)="onSubmit(nameForm)">
    <mat-form-field color="accent">
      <input matInput placeholder="Hello! Please enter your name:" type="text" name="name" id="name" [(ngModel)]="name" />
    </mat-form-field>
    <button mat-raised-button color="accent" value="submit">Submit</button>
  </form>
</section>
