section {
  text-align: center;
  font-size: 2rem;
  color: white;
}

mat-form-field {
  width: 60%;
  min-width: 450px;
  margin-top: 40px;
}

h2 {
  margin: 0 0 20px;
  color: #ff4081;
}

form {
  position: relative;
  top: -60px;
  display: inline;
}
